*, *::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(10, 25, 47);
    color: rgb(136, 146, 176);
    scroll-behavior: smooth !important;
}

body {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.header {
    display: flex;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 0 50px;
    position: fixed;
    z-index: 1000;
    transition: top 0.3s;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: rgba(204, 214, 246);
    font-size: 16px;
}

.logo {
    color: rgb(100, 255, 218);
    background-color: transparent;
    cursor: pointer;
    border: 2px solid rgb(100, 255, 218);
    padding: .5rem 1em;
    font-size: 25px;
    border-top-right-radius: 10px;
}

.logo:hover {
    background-color: rgba(100, 255, 218, 0.07);
}

.header-navigation-nav-links {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.header-navigation-nav-links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-navigation-nav-links-list-item {
    font-size: inherit;
    margin: 0 10px;
}

.header-navigation-nav-links-list-item>a {
    padding: 12px 10px;
}

a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

li {
    display: list-item;
}

.header-navigation-nav-links-resume {
    padding: 12px 10px;
}

li>a:hover {
    color: rgb(100, 255, 218);
}

.main-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 100;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}

.intro {
    max-width: 1000px;
    min-height: 80vh;
    padding: 150px 0px;
}

.intro>h1 {
    color: rgb(100, 255, 218);
    font-size: 18px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    margin: 0px 0px 15px 1px;
}

.intro>h2 {
    color: rgb(204, 214, 246);
    font-weight: bold;
    font-size: 55px;
}

.intro>h3 {
    color: rgb(136, 146, 176);
    font-weight: bold;
    font-size: 55px;
    margin: 0px 0px 50px 0px;
}

.description {
    max-width: 600px;
    line-height: 1.6;
}

.description>p {
    color: rgb(136, 146, 176);
    font-size: 18px;
    margin-left: 3px;
}

.description>.bottom-space {
    margin: 0px 0px 60px 3px;
}

.get-in-touch>a {
    color: rgb(100, 255, 218);
    background-color: transparent;
    cursor: pointer;
    margin-left: 3px;
    border: 1px solid rgb(100, 255, 218);
    padding: 1rem 1.5em;
    border-radius: 3px;
    font-size: 15px;
}

.get-in-touch>a:hover {
    background-color: rgba(100, 255, 218, 0.07);
}

.mail-me:hover{
    background-color: rgba(100, 255, 218, 0.07);
}

.about {
    max-width: 1000px;
    min-height: 80vh;
    padding: 150px 0px;
}

.about>h3 {
    font-size: 32px;
    color: rgb(204, 214, 246);
    margin: 0px 0px 50px 3px;
}

.about>h3::after {
    content: "";
    display: block;
    height: 1px;
    width: 250px;
    background-color: rgb(48, 60, 85);
    position: relative;
    top: -15px;
    margin-left: 170px;
}

.about-split {
    display: flex;
    flex-direction: row;
}

.about-split>.about-description {
    width: 50%;
}

.about-split>.about-photo-wrapper>.about-photo {
    margin-left: 150px;
}

.about-split>.about-photo-wrapper>.about-photo>img {
    width: 250px;
    height: 250px;
    opacity: .9;
}

.about-split>.about-photo-wrapper {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.about-split>.about-photo-wrapper>.about-photo>img:hover {
    opacity: 1;
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.about-description>.about-me>p {
    color: rgb(136, 146, 176);
    font-size: 18px;
    margin: 0px 0px 20px 3px;
    line-height: 1.6;
}

.tech-stack-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    overflow: hidden;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}

.tech-stack-list>li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 13px;
    color: rgb(136, 146, 176);
    width: 300px;
}

.tech-stack-list>li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: rgb(100, 255, 218);
    font-size: 14px;
    line-height: 12px;
}

.experience {
    max-width: 1000px;
    min-height: 80vh;
    padding: 150px 0px;
}

.experience>h3 {
    font-size: 32px;
    color: rgb(204, 214, 246);
    margin: 0px 0px 50px 3px;
}

.experience>h3::after {
    content: "";
    display: block;
    height: 1px;
    width: 250px;
    background-color: rgb(48, 60, 85);
    position: relative;
    top: -15px;
    margin-left: 300px;
}

.jobs {
    display: flex;
    flex-direction: row;
}

.jobs-list {
    display: block;
    position: relative;
    width: max-content;
    z-index: 3;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.jobs-list>li>button {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 42px;
    text-align: left;
    white-space: nowrap;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 13px;
    color: rgb(100, 255, 218);
    text-decoration: none;
    padding: 0px 20px 2px;
    border-left: 2px solid rgb(100, 255, 218);
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: rgb(23, 42, 69);
}

.jobs-list>li>button:focus, button:hover, button:active {
    color: rgb(100, 255, 218);
    outline: 0px;
}

.job-description {
    padding-top: 8px;
    padding-left: 30px;
}

.job-description>h4 {
    color: rgb(204, 214, 246);
    font-size: 22px;
    font-weight: 500;
}

.job-description>h4>.position {
    color: rgb(204, 214, 246);
    font-size: 22px;
    font-weight: 500;
}

.job-description>h4>.company>span {
    color: rgb(100, 255, 218);
}

.job-description>h4>.company>a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: rgb(100, 255, 218);
    text-decoration: none;
}

.job-description>.time-period {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.05em;
    color: rgb(168, 178, 209);
    margin-bottom: 30px;
    margin-top: 10px;
}

.job-description>ul {
    list-style: none;
}

.job-description>ul>li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.job-description ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: rgb(100, 255, 218);
}

.projects {
    max-width: 1000px;
    min-height: 80vh;
    padding: 150px 0px;
}

.projects>h3 {
    font-size: 32px;
    color: rgb(204, 214, 246);
    margin: 0px 0px 30px 3px;
}

.projects>h3::after {
    content: "";
    display: block;
    height: 1px;
    width: 250px;
    background-color: rgb(48, 60, 85);
    position: relative;
    top: -15px;
    margin-left: 150px;
}

.projects>.project {
    display: flex;
    flex-direction: row;
}

.project>.image {
    width: 50%;
    margin-top: 50px;
}

.project>.description {
    width: 50%;
}

.projects>.project>.image>a {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.project-image>img {
    width: 450px;
    height: 300px;
    opacity: .9;
}

.project-image>img:hover {
    opacity: 1;
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.project>.description {
    text-align: right;
}

.project>.description>h4 {
    font-size: 15px;
    font-weight: normal;
    color: rgb(100, 255, 218);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
}

.project>.description>.details {
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    position: relative;
    z-index: 2;
    background-color: rgb(23, 42, 69);
    color: rgb(168, 178, 209);
    font-size: 18px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    padding: 25px;
    border-radius: 3px;
}

.project>.description>.tools {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0px;
    margin: 25px 0px 20px;
    list-style: none;
}

.project>.description>.tools>li {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 13px;
    color: rgb(100, 255, 218);
    margin-bottom: 7px;
    white-space: nowrap;
}

.tools>.js, .html {
    margin-right: 35px;
}

.project>.description>h5 {
    font-size: 28px;
    color: rgb(204, 214, 246);
    margin: 0px 0px 20px;
    margin-top: 10px;
}

.contact {
    max-width: 1000px;
    min-height: 80vh;
    padding: 100px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact>.desc {
    text-align: center;
    margin-bottom: 40px;
    max-width: 700px;
}

.contact>h3 {
    font-size: 32px;
    color: rgb(204, 214, 246);
    margin: 0px 0px 30px 3px;
}

.contact>a {
    color: rgb(100, 255, 218);
    background-color: transparent;
    cursor: pointer;
    margin-left: 3px;
    border: 1px solid rgb(100, 255, 218);
    padding: 1rem 1em;
    border-radius: 3px;
    font-size: 15px;
    width: 200px;
}

.contact>ul {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.contact>ul>li {
    position: relative;
    margin-bottom: 10px;
    margin-right: 20px;
    transform: translateX(-2px);
}

.contact>ul>li:hover {
    transform: translateY(-5px);
    transition: .3s ease-in-out;
}

.contact>ul>li>a>.linkedin {
    width: 40px;
    height: 30px;
    margin-left: 7px;
}

.contact>.desc>a {
    margin-top: 25px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 15px;
    letter-spacing: 2px;
}

.contact>.desc>a:hover {
    color: rgb(100, 255, 218);
}

main {
    width: 84%;
}

.resume {
    color: rgb(100, 255, 218);
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid rgb(100, 255, 218);
    padding: .5rem .7em;
    border-radius: 3px;
    font-size: 15px;
}

.resume:hover {
    background-color: rgba(100, 255, 218, 0.07);
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(10, 25, 47);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.website {
    width: 30px;
    height: 30px;
}

#website {
    margin-left: 30px;
    width: 30px;
    height: 30px;
}

.top {
    position: sticky;
    z-index: 2000;
    top: 90%;
    left: 90%;
}

.certifications {
    max-width: 1000px;
    min-height: 80vh;
    padding: 150px 0px;
}

.certifications>h3 {
    font-size: 32px;
    color: rgb(204, 214, 246);
    margin: 0px 0px 80px 3px;
}

.certifications>h3::after {
    content: "";
    display: block;
    height: 1px;
    width: 250px;
    background-color: rgb(48, 60, 85);
    position: relative;
    top: -15px;
    margin-left: 250px;
}

.certifications>.certification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.certifications>.certification>.angular {
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    position: relative;
    z-index: 2;
    background-color: rgb(23, 42, 69);
    color: rgb(168, 178, 209);
    font-size: 18px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    border-radius: 3px;
    width: 300px;
    height: 360px;
}

.certification>.angular>a>img {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
}

.certification>.angular>h3 {
    padding: 10px;
    text-align: center;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 0;
    cursor: pointer;
    display: none;
    position: relative;
}

#check {
    display: none;
}

.active {
    right: 0 !important;
}

@media (max-width: 1100px) {
    .certifications>.certification {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 80px;
    }
    .angular {
        margin-bottom: 20px;
    }
}

@media (max-width: 970px) {
    .about-split {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-split>.about-photo-wrapper>.about-photo {
        margin-left: 50px;
        margin-top: 50px;
    }
    .main-section {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 950px) {
    .projects>.project {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .project>.description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    .header-navigation-nav-links {
        position: fixed;
        width: 50vw;
        height: 100vh;
        background-color: rgb(23, 42, 69);
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all .5s;
        align-items: center;
    }
    .header-navigation-nav-links-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-navigation-nav-links-resume>a {
        padding: 15px 25px;
    }
    .header-navigation-nav-links-list-item {
        margin-bottom: 50px;
    }
}

@media (max-width: 840px) {
    .certifications>.certification {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 80px;
    }
    .angular {
        margin-bottom: 20px;
    }
    .main-section {
        margin-left: 120px;
        margin-right: 50px;
    }
}

@media (max-width: 720px) {
    .main-section {
        margin-left: 50px;
        margin-right: 50px;
    }
    .project>.description {
        margin-left: 80px;
    }
}

.one {
    animation: fadeInTop 1s;
}

.two {
    animation: fadeInTop 1.3s;
}

.three {
    animation: fadeInTop 1.6s;
}

.four {
    animation: fadeInTop 1.9s;
}

.resume {
    animation: fadeInTop 2s;
}

.hi {
    animation: fadeInBottom 1s;
}

.name {
    animation: fadeInBottom 1.3s;
}

.love {
    animation: fadeInBottom 1.6s;
}

.description {
    animation: fadeInBottom 2s;
}

.get-in-touch {
    animation: fadeInBottom 2s;
}

.logo {
    animation: fadeInTop .8s;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translatey(-50px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}